article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  width: 90%;
  height: 500px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: 'Abel', sans-serif;
}

button {
  font-size: 20px;
  width: fit-content;
  height: 32px;
  border: none;
  border-radius: 10px;
  background-color: #63f5ed;
  color: white;
  padding: 0 10px;
}

button:hover {
  background-color: #50c5bf;
  cursor: pointer;
}

button[type=reset] {
  margin-top: 40px;
}

button[type=submit] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 2px solid grey;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 20px 0;
}

h1 {
  padding-left: 35px;
  color: black;
  font-weight: lighter;
  font-size: 22px;
}

h3 {
  font-weight: lighter;
  margin-right: 10px;
}

hr {
  width: 95%;
  height: 2px;
  border: none;
  background: #ffffff; /* Old browsers */

  background: -webkit-linear-gradient(left, #ffffff 2%, #ffffff 2%, #333333 48%, #333333 52%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 2%, #ffffff 2%, #333333 48%, #333333 52%, #ffffff 100%);
  background: linear-gradient(to right, #ffffff 2%, #ffffff 2%, #333333 48%, #333333 52%, #ffffff 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

input {
  padding-left: 10px;
  border: 2px solid grey;
  border-right: none;
  height: 26px;
  width: 195px;
}

section {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 200px;
  height: 400px;
}

select {
  padding-left: 10px;
  margin-bottom: 20px;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
 /*gets rid of arrow*/
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.hex-code {
  position: absolute;
  padding: 4px;
  bottom: 25px;
  left: 14px;
  z-index: 100;
  width: 74px;
  height: 26px;
  background-color: #f6f6f680;
  color: black;
  font-weight: bold;
  box-shadow: 2px 2px 2px #a7a7a7;
}

.input-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lock {
  position: absolute;
  bottom: -22px;
  left: 37px;
  z-index: 100;
  width: 32px;
  height: 38px;
  background-image: url(../assets/unlock.svg);
  background-repeat: no-repeat;
}

.lock:hover {
  cursor: pointer;
  background-image: url('../assets/lock.svg');
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: fit-content;
  padding: 10px 0;
}

.project div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.project-colors {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: grey;
}

.project-palettes {
  padding: 23px 10px;
  width: fit-content;
}

.project-palettes:hover {
  background-color: #e6e6e6;
  border-radius: 10px;
  cursor: pointer;
}

.project-palettes p {
  margin-right: 10px;
}

.projects-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 650px;i
}

.rotate90 {
  position: absolute;
  top: 94px;
  left: -110px;
  width: 430px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate45 {
  position: absolute;
  width: 200px;
  bottom: -69px;
  left: -47px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#remove {
  margin-left: 10px;
}

#remove:hover {
  cursor: pointer;
  color: red;
}