article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 auto;
  height: 500px;
  width: 90%;
}

body {
  margin: 0;
  font-family: 'Abel', sans-serif;
}

button {
  border: none;
  border-radius: 10px;
  padding: 0 10px 4px 10px;
  height: 32px;
  width: fit-content;
  background-color: #5be1d1;
  color: white;
  font-size: 20px;
}

button:hover {
  background-color: #50c5bf;
  cursor: pointer;
}

button[type=reset] {
  margin-top: 40px;
}

button[type=submit] {
  border: 2px solid grey;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 50px 0;
  height: fit-content;
  width: 100%;
}

hr {
  border: none;
  height: 2px;
  width: 95%;
  background: -webkit-linear-gradient(left, #ffffff 2%, #ffffff 2%, #333333 48%, #333333 52%, #ffffff 100%);
}

h1 {
  padding-left: 35px;
  color: black;
  font-size: 22px;
  font-weight: lighter;
}

h3 {
  margin-right: 10px;
  font-weight: lighter;
}

input {
  border: 2px solid grey;
  border-right: none;
  padding-left: 10px;
  height: 26px;
  width: 195px;
}

section {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 400px;
  width: 200px;
}

select {
  padding-left: 10px;
  margin-bottom: 20px;
  height: 29px;
  width: 240px;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  overflow: hidden;
 /*gets rid of arrow*/
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.hex-code {
  position: absolute;
  bottom: 25px;
  left: 37px;
  box-shadow: 2px 2px 2px #a7a7a7;
  padding: 4px;
  height: 26px;
  width: 74px;
  background-color: #f6f6f680;
  color: black;
  font-weight: bold;
  z-index: 100;
}

.input-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lock {
  position: absolute;
  bottom: -22px;
  left: 59px;
  height: 38px;
  width: 32px;
  background-image: url(../assets/unlock.svg);
  background-repeat: no-repeat;
  z-index: 100;
}

.lock:hover {
  background-image: url('../assets/lock.svg');
  cursor: pointer;
}

.palette-name {
  width: 60px;
  text-align: right;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  height: fit-content;
  width: 300px;
}

.project div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.project-colors {
  border-radius: 50px;
  height: 30px;
  width: 30px;
  background-color: grey;
}

.project-palettes {
  padding: 23px 10px;
  width: fit-content;
}

.project-palettes:hover {
  border-radius: 10px;
  background-color: #e6e6e6;
  cursor: pointer;
}

.project-palettes p {
  margin-right: 10px;
}

.project-name {
  margin: 0 0 0 30px;
  width: 100%;
  font-weight: lighter;
  text-align: left;
}

.projects-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
  width: 650px;
}

.rotate45 {
  position: absolute;
  bottom: -69px;
  left: -25px;
  width: 200px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.rotate90 {
  position: absolute;
  left: -89px;
  top: 94px;
  width: 430px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#remove {
  margin-left: 10px;
}

#remove:hover {
  color: red;
  cursor: pointer;
}